body {
    background: url(fondo.jpeg);
    color: #4f3868;
}

#wrap {
    background: white;
    border-radius: 50px;
    border: 20px solid #865cb2;
    padding: 20px;
    width: 80%;
    margin: auto;
    max-width: 800px;
    text-align: center;
}

h1,
form,
input[type=number] {
    text-align: center;
}

h1,
h2 {
    margin: auto;
}

/* Elementos de formulario */
input[type=number] {
    width: 40px;
}
textarea {
    resize: none;
    height: 200px;
    width: 80%;
}

/* Estilo de Tabla */
table {
    text-align:center;
    margin: auto;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

th {
    background: #cbc0d6;
}

td {
    background: #e2dce8;
}

table,
td,
th {
    border: 2px solid #4f3868;
}

#mavalro {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    background: #4f3868;
    height: auto;
}

#mavalro a {
    color: white;
    font-size: 12px;
    text-decoration: none;
}
