h1,
form,
input[type=number] {
    text-align: center;
}

input[type=number] {
    width: 40px;
}

table {
    text-align:center;
    margin: auto;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
}

table,
td,
th {
    border: 1px solid #000;
}

